font {
    font-family:"Helvetica Neue",Helvetica;
    font-size:1em;
}
h2 {
    color:#036;
}
.allButFooter {
    min-height: calc(100vh - 20px);
}
.nav {
    background: #5DBCD2;
    float: left;
    display: block;
    text-align: center;
    z-index: 1000;
    position: relative;
    border-bottom: 2px solid white;
    height: 90px;
    box-shadow: 10px 5px 5px black;
    border-radius: 16px;
}
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
}

#body2{
    height: 99vh;
}


body{

    margin-top: 0;
    line-height:150%;
    padding-left:25%;
    padding-right:0;
background-repeat: no-repeat;
    background-image: url("kuvat/baana.jpg");
    background-size: cover;
}

h1 {
    font-family: "Georgia",Monospace,SansSerif;
    color:white;
    background-color:white;
    text-align:center;
}
.button {
    font-size: 45px;
    text-shadow: 2px 2px 1px black;
    border-radius: 12px;
    border:2px solid white;
    float:left;
    background-color: #5DBCD2;
    box-shadow: 5px 5px 5px black;
    margin-right: 35px;
}
.button-group .button:last-child{
    margin-right: 35px;
}
#wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
#wrapper :first-child {

    justify-self: flex-start;
    align-items: baseline;
}

.button-group .button:hover {
    background-color: skyblue;
}
h3 {
    color:white;
    background-color:#DFC092;
    padding-left:25%;
    padding-right:25%;
    font-size:75%;
    text-align:center;
}
a {
    color: white;
    text-decoration: none;
}
h3 a:hover{
    font-size:125%;
}
#center{
    display: block;
    margin-top:90%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
h3 a {
    padding: 20px;
}

.logo {
    background-color: transparent;
    border: none;
    float: left;
    margin-left: 0;
    padding-left: 0;
}
#logo {
    width:225px;
    margin-left: 25px;
}
#map {display: inline-block; top: 200px; margin-left: auto; margin-right: 0; bottom: 0; width: 600px; height: 500px; border: 3px solid darkslategray; border-radius: 5px}

#video{
    position: relative;
    display: flex;
    top: 85%;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    width: 600px;
    height: 500px;

}


#vali {
    display: block;
    margin-top: 40%;
    text-align: center;
    padding-bottom: 1px;
    padding-right: 35%;
}
#selitys {
    font-family: Corbel,sans-serif;
    margin-top: -15%;
    margin-left: 55%;
    margin-right: 8%;
    padding: 10px 10px 10px 10px;
    border-left: 4px dotted white;
    border-right:  2px dotted white;
    border-radius: 12px;
    background-color: #5DBCD2;
    font-size: 34px;
    box-shadow: 4px 4px 2px 1px black;
    font-weight:bold ;
    color: white;
    text-shadow: 2px 2px 1px black;
    letter-spacing: 2px;
    line-height: 40px;
}

#button2{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    left: 50px;
    top: 100px;
}
form {
    width: 20%;
    background: white;
    padding: 20px 25px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
    position: absolute;
    right: 50px;
    top: 100px;
}
form input,
form textarea {
    font: inherit;
    padding: 5px 5px;
    width: 100%;
    margin-top: 3px;
    margin-bottom: 15px;
    box-sizing: border-box;
}
form button {
    border: 1px solid rgba(0,0,0,0.2);
    padding: 8px 35px;
    font-size: 12px;
    background: #888;
    color: white;
}
form label {
    color: #777;
    font-size: 11px;
    margin-bottom: 2px;
    display: block;
}
.tekbod {
    padding-left: 0;
    padding-right: 0;
    background-image: url("kuvat/pyoratie.jpeg");
}
.rivi {
    margin-top: 5%;
    padding-top: 0;
    flex-direction: row;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
#spacer {
    display: block;
    padding: 1px 1px 1px 1px;
    height: 117px;
}
.rivi2 {
    margin-top: 1%;
    flex-direction: row;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.textbox {
    display: inline-block;
    width:200px;
    border-left: 4px dotted skyblue;
    border-right:  2px dotted skyblue;;
    border-radius: 8px;
    background-color: paleturquoise;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    box-shadow: 12px 12px 2px 1px gray;
}
.textbox2 {
    display: inline-block;
    width:200px;
    border-left: 4px dotted white;
    border-right:  2px dotted white;
    border-radius: 12px;
    background-color: #5DBCD2;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    padding: 5px 5px 5px 5px;
    box-shadow: 4px 4px 2px 1px black;
}

.portrait {
    border:  2px dotted white;
    display: inline-block;
    width: 200px;
    height: 200px;
    margin-right: auto;
    margin-left: auto;
}
.footer {
    position: fixed;
    left: 0;
    text-align: left;
    bottom: 0;
    width: 100%;

}

#tausta {

    background: #5DBCD2;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: -10%;
    border: 3px solid white;
    border-radius: 24px;
    box-shadow: 10px 5px 5px black;
}